name: Terraform CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform/envs/dev

      - name: Terraform Validate
        run: terraform validate
        working-directory: terraform/envs/dev

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform/envs/dev
